In [185]:
import polars as pl

In [186]:
df = (pl.read_csv("UCS-Satellite-Database-5-1-2022.csv"))

In [187]:
df

shape: (5467, 67)

 Name of     Current     Country/Or  Country of  ...  _duplicate  _duplicate  _duplicate  _duplicate
 Satellite,  Official    g of UN     Operator/O       d_26        d_27        d_28        d_29
 Alternate   Name of     Registry    wner             ---         ---         ---         ---
 Nam...      Satelli...  ---         ---              str         str         str         str
 ---         ---         str         str
 str         str

 1HOPSAT-TD  1HOPSAT-TD  NR          USA         ...  null        null        null        null
 (1st-gener
 ation High
 ...

 Aalto-1     Aalto-1     Finland     Finland     ...  null        null        null        null

 AAUSat-4    AAUSat-4    Denmark     Denmark     ...  null        null        null        null

 ABS-2 (Kor  ABS-2       NR          Multinatio  ...  null        null        null        null
 easat-8,                            nal
 ST-3)

 ...         ...         ...         ...         ...  ...         ...         ...         ...

 Ziyuan 3-3  Ziyuan 3-3  China       China       ...  null        null        null        null

 Z-Sat       Z-Sat       NR (1/22)   Japan       ...  null        null        null        null

 null        null        null        null        ...  null        null        null        null

 null        null        null        null        ...  null        null        null        null

In [188]:
df.columns

['Name of Satellite, Alternate Names',
 'Current Official Name of Satellite',
 'Country/Org of UN Registry',
 'Country of Operator/Owner',
 'Operator/Owner',
 'Users',
 'Purpose',
 'Detailed Purpose',
 'Class of Orbit',
 'Type of Orbit',
 'Longitude of GEO (degrees)',
 'Perigee (km)',
 'Apogee (km)',
 'Eccentricity',
 'Inclination (degrees)',
 'Period (minutes)',
 'Launch Mass (kg.)',
 ' Dry Mass (kg.) ',
 'Power (watts)',
 'Date of Launch',
 'Expected Lifetime (yrs.)',
 'Contractor',
 'Country of Contractor',
 'Launch Site',
 'Launch Vehicle',
 'COSPAR Number',
 'NORAD Number',
 'Comments',
 '',
 'Source Used for Orbital Data',
 'Source',
 'Source_duplicated_0',
 'Source_duplicated_1',
 'Source_duplicated_2',
 'Source_duplicated_3',
 'Source_duplicated_4',
 'Source_duplicated_5',
 '_duplicated_0',
 '_duplicated_1',
 '_duplicated_2',
 '_duplicated_3',
 '_duplicated_4',
 '_duplicated_5',
 '_duplicated_6',
 '_duplicated_7',
 '_duplicated_8',
 '_duplicated_9',
 '_duplicated_10',
 '_duplicated_11',
 '_duplicated_12',
 '_duplicated_13',
 '_duplicated_14',
 '_duplicated_15',
 '_duplicated_16',
 '_duplicated_17',
 '_duplicated_18',
 '_duplicated_19',
 '_duplicated_20',
 '_duplicated_21',
 '_duplicated_22',
 '_duplicated_23',
 '_duplicated_24',
 '_duplicated_25',
 '_duplicated_26',
 '_duplicated_27',
 '_duplicated_28',
 '_duplicated_29']

In [189]:
df.shape

(5467, 67)

In [190]:
#Who owns the most satellites?
df['Country of Operator/Owner'].value_counts(sort=True)

shape: (109, 2)

 Country of Operator/Owner  counts
 ---                        ---
 str                        u32

 USA                        3415

 China                      535

 United Kingdom             486

 Russia                     170

 ...                        ...

 Austria                    1

 Turkmenistan/Monaco        1

 France/Israel              1

 China/Italy                1

In [191]:
# What is the most common type of satellite?
df['Type of Orbit'].value_counts(sort=True)

shape: (9, 2)

 Type of Orbit          counts
 ---                    ---
 str                    u32

 Non-Polar Inclined     2677

 Sun-Synchronous        1414

 Polar                  673

 null                   624

 ...                    ...

 Molniya                23

 Deep Highly Eccentric  9

 Elliptical             8

 Cislunar               1

In [192]:
# What is the most common purpose of satellite?
df['Purpose'].value_counts(sort=True)

shape: (33, 2)

 Purpose                              counts
 ---                                  ---
 str                                  u32

 Communications                       3602

 Earth Observation                    1113

 Technology Development               361

 Navigation/Global Positioning        139

 ...                                  ...

 Space Science/Technology Develop...  1

 Earth Science/Earth Observation      1

 Earth Observation/Communications...  1

 Satellite Positioning                1

In [193]:
# What is the most common class of satellite?

df['Class of Orbit'].value_counts(sort=True)

shape: (5, 2)

 Class of Orbit  counts
 ---             ---
 str             u32

 LEO             4700

 GEO             565

 MEO             140

 Elliptical      60

 null            2

In [194]:
df['Launch Site'].value_counts(sort=True)

shape: (40, 2)

 Launch Site                   counts
 ---                           ---
 str                           u32

 Cape Canaveral                2719

 Baikonur Cosmodrome           442

 Guiana Space Center           380

 Vandenberg AFB                338

 ...                           ...

 Shahroud Missile Range        1

 Dragon CRS-17                 1

 Rocket Lab Launch Complex 1B  1

 Naro Space Center             1

In [195]:
# which countries have launched from Cape Canaveral?

df_launch_site = df.select(['Country of Operator/Owner', 'Launch Site'])

df_launch_site = df_launch_site.filter(pl.col('Launch Site') == 'Cape Canaveral')

df_launch_site['Country of Operator/Owner'].value_counts(sort=True) # expect most to the US

shape: (44, 2)

 Country of Operator/Owner  counts
 ---                        ---
 str                        u32

 USA                        2560

 Luxembourg                 15

 Canada                     15

 Switzerland                12

 ...                        ...

 Ukraine                    1

 USA/United Kingdom/Italy   1

 Turkmenistan/Monaco        1

 ESA                        1

In [196]:
# where does turkey launch from the most?

df_turkey = df.select(['Country of Operator/Owner', 'Launch Site'])


df_turkey = df_turkey.filter(pl.col('Country of Operator/Owner') == 'Turkey')

df_turkey['Launch Site'].value_counts(sort=True) 

# Oh interesting, TR launches from Jiuquan, China? and Satish Dhawan Space Centre, India? and Dombarovskiy, Russia?
# Let's see what those missions are about.

shape: (6, 2)

 Launch Site                      counts
 ---                              ---
 str                              u32

 Cape Canaveral                   3

 Guiana Space Center              2

 Baikonur Cosmodrome              2

 Jiuquan Satellite Launch Center  1

 Satish Dhawan Space Centre       1

 Dombarovsky Air Base             1

In [197]:
df.columns

['Name of Satellite, Alternate Names',
 'Current Official Name of Satellite',
 'Country/Org of UN Registry',
 'Country of Operator/Owner',
 'Operator/Owner',
 'Users',
 'Purpose',
 'Detailed Purpose',
 'Class of Orbit',
 'Type of Orbit',
 'Longitude of GEO (degrees)',
 'Perigee (km)',
 'Apogee (km)',
 'Eccentricity',
 'Inclination (degrees)',
 'Period (minutes)',
 'Launch Mass (kg.)',
 ' Dry Mass (kg.) ',
 'Power (watts)',
 'Date of Launch',
 'Expected Lifetime (yrs.)',
 'Contractor',
 'Country of Contractor',
 'Launch Site',
 'Launch Vehicle',
 'COSPAR Number',
 'NORAD Number',
 'Comments',
 '',
 'Source Used for Orbital Data',
 'Source',
 'Source_duplicated_0',
 'Source_duplicated_1',
 'Source_duplicated_2',
 'Source_duplicated_3',
 'Source_duplicated_4',
 'Source_duplicated_5',
 '_duplicated_0',
 '_duplicated_1',
 '_duplicated_2',
 '_duplicated_3',
 '_duplicated_4',
 '_duplicated_5',
 '_duplicated_6',
 '_duplicated_7',
 '_duplicated_8',
 '_duplicated_9',
 '_duplicated_10',
 '_duplicated_11',
 '_duplicated_12',
 '_duplicated_13',
 '_duplicated_14',
 '_duplicated_15',
 '_duplicated_16',
 '_duplicated_17',
 '_duplicated_18',
 '_duplicated_19',
 '_duplicated_20',
 '_duplicated_21',
 '_duplicated_22',
 '_duplicated_23',
 '_duplicated_24',
 '_duplicated_25',
 '_duplicated_26',
 '_duplicated_27',
 '_duplicated_28',
 '_duplicated_29']

In [198]:
df_why_turkey = df.select(['Name of Satellite, Alternate Names',
 'Current Official Name of Satellite',
 'Country/Org of UN Registry',
 'Country of Operator/Owner',
 'Operator/Owner',
 'Users',
 'Purpose',
 'Detailed Purpose',
 'Class of Orbit',
 'Type of Orbit',
'Date of Launch',
 'Expected Lifetime (yrs.)',
 'Contractor',
 'Country of Contractor',
 'Launch Site',
 'Launch Vehicle',
])


df_why_turkey = df_why_turkey.filter(pl.col('Country of Operator/Owner') == 'Turkey')

In [199]:
# get the line where the launch site is Jiuquan, China
df_why_turkey.filter(pl.col('Launch Site') == 'Jiuquan Satellite Launch Center')

shape: (1, 16)

 Name of     Current     Country/Or  Country of  ...  Contract  Country of  Launch     Launch
 Satellite,  Official    g of UN     Operator/O       or        Contractor  Site       Vehicle
 Alternate   Name of     Registry    wner             ---       ---         ---        ---
 Nam...      Satelli...  ---         ---              str       str         str        str
 ---         ---         str         str
 str         str

 Gktrk 2   Gktrk 2   NR          Turkey      ...  TBTAK   Turkey      Jiuquan    Long March
                                                      Space                 Satellite  2D
                                                      Technolo              Launch
                                                      gies                  Center
                                                      Resea...

In [200]:
df_why_turkey.filter(pl.col('Launch Site') == 'Satish Dhawan Space Centre')

shape: (1, 16)

 Name of     Current     Country/Or  Country of  ...  Contract  Country of  Launch     Launch
 Satellite,  Official    g of UN     Operator/O       or        Contractor  Site       Vehicle
 Alternate   Name of     Registry    wner             ---       ---         ---        ---
 Nam...      Satelli...  ---         ---              str       str         str        str
 ---         ---         str         str
 str         str

 ITU-pSAT1   ITU-pSAT1   NR          Turkey      ...  ITU       Turkey      Satish     PSLV
 (Istanbul                                            Space                 Dhawan
 Technical                                            Systems               Space
 Un...                                                Design &              Centre
                                                      Test ...

In [201]:
df_why_turkey.filter(pl.col('Launch Site') == 'Dombarovsky Air Base')

shape: (1, 16)

 Name of     Current     Country/Or  Country of  ...  Contract  Country of  Launch     Launch
 Satellite,  Official    g of UN     Operator/O       or        Contractor  Site       Vehicle
 Alternate   Name of     Registry    wner             ---       ---         ---        ---
 Nam...      Satelli...  ---         ---              str       str         str        str
 ---         ---         str         str
 str         str

 RASAT       RASAT       Turkey      Turkey      ...  Space     Turkey      Dombarovs  Dnepr
                                                      Technolo              ky Air
                                                      gies                  Base
                                                      Research
                                                      Inst...

In [202]:
#Apparently the RASAT had 11 years of service, how many years was it planned for?

rasat = df_why_turkey.filter(pl.col('Name of Satellite, Alternate Names') == 'RASAT')
rasat.select(['Expected Lifetime (yrs.)'])

shape: (1, 1)

 Expected Lifetime (yrs.)
 ---
 f64

 3.0

In [203]:
# Wow, it was planned for 3 years, but lasted 11 years. That's pretty good.

In [204]:
# search for Georgia Tech satellites

big_df = df.select(['Name of Satellite, Alternate Names', 'Country of Operator/Owner', 'Operator/Owner', 'Users', 'Purpose', 'Detailed Purpose', 'Class of Orbit', 'Type of Orbit', 'Date of Launch', 'Expected Lifetime (yrs.)', 'Contractor', 'Country of Contractor', 'Launch Site', 'Launch Vehicle',])

gt_df = big_df.filter(pl.col('Operator/Owner') == 'Georgia Institute of Technology')

gt_df

# We can see that Georgia Tech has launched 3 satellites. Go Jackets!

shape: (3, 14)

 Name of     Country of  Operator/O  Users  ...  Contract  Country of  Launch     Launch
 Satellite,  Operator/O  wner        ---         or        Contractor  Site       Vehicle
 Alternate   wner        ---         str         ---       ---         ---        ---
 Nam...      ---         str                     str       str         str        str
 ---         str
 str

 Prox-1      USA         Georgia     Civil  ...  Georgia   USA         Cape       Falcon
 (Nanosat                Institute               Institut              Canaveral  Heavy
 7)                      of                      e of Tec
                         Technology              hnology

 RANGE-A     USA         Georgia     Civil  ...  Georgia   USA         Vandenber  Falcon 9
 (Ranging                Institute               Institut              g AFB
 and Nanosa              of                      e of Tec
 telli...                Technology              hnology

 RANGE-B     USA         Georgia     Civil  ...  Georgia   USA         Vandenber  Falcon 9
 (Ranging                Institute               Institut              g AFB
 and Nanosa              of                      e of Tec
 telli...                Technology              hnology

In [205]:
# what about the University of Georgia?
uga_df = big_df.filter(pl.col('Operator/Owner').str.contains("Georgia")) # I'm not quite sure how they'd be listed in the database, so I'm just going to search for "Georgia" in the Operator/Owner column. 

uga_df

shape: (3, 14)

 Name of     Country of  Operator/O  Users  ...  Contract  Country of  Launch     Launch
 Satellite,  Operator/O  wner        ---         or        Contractor  Site       Vehicle
 Alternate   wner        ---         str         ---       ---         ---        ---
 Nam...      ---         str                     str       str         str        str
 ---         str
 str

 Prox-1      USA         Georgia     Civil  ...  Georgia   USA         Cape       Falcon
 (Nanosat                Institute               Institut              Canaveral  Heavy
 7)                      of                      e of Tec
                         Technology              hnology

 RANGE-A     USA         Georgia     Civil  ...  Georgia   USA         Vandenber  Falcon 9
 (Ranging                Institute               Institut              g AFB
 and Nanosa              of                      e of Tec
 telli...                Technology              hnology

 RANGE-B     USA         Georgia     Civil  ...  Georgia   USA         Vandenber  Falcon 9
 (Ranging                Institute               Institut              g AFB
 and Nanosa              of                      e of Tec
 telli...                Technology              hnology

In [206]:
# Nope, no satellites for UGA. I know they're working on a project called MEMESat, but it's not in the database given it's not launched yet.
# http://www.smallsat.uga.edu/missions

In [207]:
# Does MIT have any satellites as a contractor?

list_of_possible_names_for_mit = ['Massachusetts Institute of Technology', 'MIT', 'Massachusetts Institute of Technology Lincoln Laboratory', 'Massachusetts Institute of Technology Lincoln Laboratory (MITLL)']

list_of_satellites_for_mit = []
for name in list_of_possible_names_for_mit:
    list_of_satellites_for_mit.append(big_df.filter(pl.col('Contractor').str.contains(name)))

In [208]:
list_of_satellites_for_mit

[shape: (1, 14)

  Name of     Country of  Operator/O  Users  ...  Contract  Country of  Launch     Launch
  Satellite,  Operator/O  wner        ---         or        Contractor  Site       Vehicle
  Alternate   wner        ---         str         ---       ---         ---        ---
  Nam...      ---         str                     str       str         str        str
  ---         str
  str

  DeMi (Defo  USA         Massachuse  Civil  ...  Massachu  USA         Internati  Nanorack
  rmable                  tts                     setts                 onal       Deployer
  Mirror)                 Institute               Institut              Space
                          of                      e of                  Station
                          Techn...                Techn...
 ,
 shape: (4, 14)

  Name of     Country of  Operator/O  Us  ...  Contract  Country of  Launch     Launch
  Satellite,  Operator/O  wner        er       or        Contractor  Site       Vehicle
  Alternate   wner        ---         s        ---       ---         ---        ---
  Nam...      ---         str         --       str       str         str        str
  ---         str                     -
  str                                 st
                                      r

  MicroMAS-2  USA         MIT/Lincol  Ci  ...  MIT/LL-U  USA         Satish     PSLV
  A (Micro-s              n Laborato  vi       M                     Dhawan
  ized                    ry-Univers  l/       Amherst               Space
  Microwa...              it...       Go                             Centre
                                      ve
                                      rn
                                      me
                                      nt

  ORS-5 (Ope  USA         USAF /ORSO  Mi  ...  MIT       USA         Cape       Minotaur 4
  rationally              (Operation  li       Lincoln               Canaveral
  Responsive              ally        ta       Laborato
  ...                     Respon...   ry       ry

  TESS (Tran  USA         National    Go  ...  NASA/MIT  USA         Cape       Falcon 9
  siting                  Aeronautic  ve                             Canaveral
  Exoplanet               s and       rn
  Surve...                Space A...  me
                                      nt

  TROPICS     USA         National    Go  ...  MIT/Godd  USA         Cape       Falcon 9
  Pathfinder              Aeronautic  ve       ard                   Canaveral
  ( Time-Res              s and       rn       Space
  olv...                  Space A...  me       Flight
                                      nt       Center
 ,
 shape: (0, 14)

  Name of     Country of  Operator/O  Users  ...  Contract  Country of  Launch     Launch
  Satellite,  Operator/O  wner        ---         or        Contractor  Site       Vehicle
  Alternate   wner        ---         str         ---       ---         ---        ---
  Nam...      ---         str                     str       str         str        str
  ---         str
  str

 ,
 shape: (0, 14)

  Name of     Country of  Operator/O  Users  ...  Contract  Country of  Launch     Launch
  Satellite,  Operator/O  wner        ---         or        Contractor  Site       Vehicle
  Alternate   wner        ---         str         ---       ---         ---        ---
  Nam...      ---         str                     str       str         str        str
  ---         str
  str

 ]

In [209]:
# convert the list of dataframes to a single dataframe

mit_df = pl.concat(list_of_satellites_for_mit)

In [210]:
mit_df # MIT has launched 5 satellites as a contractor, but only operates two of them.

shape: (5, 14)

 Name of     Country of  Operator/O  Us  ...  Contract  Country of  Launch     Launch
 Satellite,  Operator/O  wner        er       or        Contractor  Site       Vehicle
 Alternate   wner        ---         s        ---       ---         ---        ---
 Nam...      ---         str         --       str       str         str        str
 ---         str                     -
 str                                 st
                                     r

 DeMi (Defo  USA         Massachuse  Ci  ...  Massachu  USA         Internati  Nanorack
 rmable                  tts         vi       setts                 onal       Deployer
 Mirror)                 Institute   l        Institut              Space
                         of                   e of                  Station
                         Techn...             Techn...

 MicroMAS-2  USA         MIT/Lincol  Ci  ...  MIT/LL-U  USA         Satish     PSLV
 A (Micro-s              n Laborato  vi       M                     Dhawan
 ized                    ry-Univers  l/       Amherst               Space
 Microwa...              it...       Go                             Centre
                                     ve
                                     rn
                                     me
                                     nt

 ORS-5 (Ope  USA         USAF /ORSO  Mi  ...  MIT       USA         Cape       Minotaur 4
 rationally              (Operation  li       Lincoln               Canaveral
 Responsive              ally        ta       Laborato
 ...                     Respon...   ry       ry

 TESS (Tran  USA         National    Go  ...  NASA/MIT  USA         Cape       Falcon 9
 siting                  Aeronautic  ve                             Canaveral
 Exoplanet               s and       rn
 Surve...                Space A...  me
                                     nt

 TROPICS     USA         National    Go  ...  MIT/Godd  USA         Cape       Falcon 9
 Pathfinder              Aeronautic  ve       ard                   Canaveral
 ( Time-Res              s and       rn       Space
 olv...                  Space A...  me       Flight
                                     nt       Center